<div class="container">


  <div class="logo">
    <img src="assets/logo.png" alt="image"><br>
  </div>

  <!-- event binding -OUTPUT -->


    <div class="row">

      <!-- <div class="col-4" *ngFor="let c of cursosadicionados">
        <app-curso-cartao [cursos]="c" ></app-curso-cartao>
      </div> -->

    </div>




    <!--  -->

    <div class="container">
      <div [hidden]="exibirAluno">
        <div class="container">
          <div class="row">

          </div><p>Cursos oferecidos pela Fatec Ipiranga:</p>
          <div class="row">

        <!-- property binding -->

             <div class="col-4" *ngFor="let ca of cursos">
              <app-curso-cartao [curso]="ca"></app-curso-cartao>
            </div>

             <div class="row">
               <div class="col-8">
                <app-curso-cadastro (cursoAdicionado)="onAdicionarCurso($event)"></app-curso-cadastro>
              </div>


             <div class="col-4">
              <button class="btn btn-info" (click)="exibirPagina()" >Cadastrar Aluno</button>
             </div>
            </div>
      </div>
      </div>
      <div [hidden]="exibirAluno">
        <app-curso-cadastro-aluno [curso]="cursos" ></app-curso-cadastro-aluno>
        <div class="row">
          <!-- <div class="col-4">
            <label for="exbirCursos">Voltar para Cursos</label>
            <button class="btn btn-secondary form-control" (click)="exibirPagina()">Voltar para cursos </button>
          </div> -->
        </div>
      </div>
    </div>
<!--  -->





    <!-- <div class="row">
      <table class="table table-hover table-stripped">
        <thead>
          <tr>
            <td>Curso</td>
            <td>Horario</td>
          </tr>

        </thead>
        <tr>
          <td>Análise e Desenvolvimento de Sistemas</td>
          <td>Tarde 13H00 as 18H30 / Noite 19H00 as 22H40</td>
      </tr>
      <tr>
        <td>Eventos</td>
        <td>Manhã 8H00 as 13H30</td>
    </tr>
    <tr>
      <td>Gestão Comercial</td>
      <td>Manhã 8H00 as 13H30 / Noite 19H00 as 22H40</td>
  </tr>
  <tr>
    <td>Recursos Humanos</td>
    <td>Noite 19H00 as 22H40</td>
</tr>
<tr>
  <td>Gestão Empresarial</td>
  <td>EAD – Ensino à distância</td>
</tr>

 -->
