<div class="row">

  <div class="form-group col-md-6">
    <label for="cursoInput">Digite o curso desejado para adicioná-lo</label>
    <input type="text" class="form-control" id="nomecursoInput" #nomecursoInput>
  </div>

 <div class="form-group col-md-6 mb-2">
    <label for="horarioInput">Horário</label>
    <input type="text" class="form-control" id="horarioInput" #horarioInput>
  </div>

</div>

<div class="row">
  <button [ngStyle] = "estiloBotaoCadastro()" class="btn btn-primary btn-block mt-3"
  (click)="adicionar(nomecursoInput.value, horarioInput.value)" type="submit">
    Adicionar
  </button>
</div>
